img {
    width: 50px;

}

#inside {

	justify-content: space-around;

    padding: 5vw;
}

#nav-bar{
    top: 0;
    background-color: #3C7C89;
    
}

#nav-bar a{
    color: white;
}

#phone-number {
    display: block;
    font: 1rem ‘Fira Sans’, sans-serif;
}
input,
#phone-number {
    margin: .4rem 0;
}

#kobe {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

#kobe-img {

    width: 100px;

}